*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #111;
color: #fff;
}
.inner{
    width: 900px;
    margin:  0 auto;
}
header{
    background: pink;
    text-align: center;
    margin-bottom: -90px;
}
header .inner{
    padding: 100px 100px 130px 100px
}
header .inner h1 {
    margin-bottom: 10px;
}

.intro .photo{
    text-align: center;
}
.intro .inner{
    padding-bottom: 3rem;
}
.intro img{
    width: 150px;
    vertical-align:top;
    border-radius: 50%;
    border:1px solid #999;
}

.profile{
    height:450px;
}

.profile .inner{
    padding: 3rem 0;
}
.profile ul{
    text-align: center;
}
.profile ul li{
    border:1px solid #999;
    width:30%;
    display: inline-block;
    transition: 1s;
}
.profile ul li:hover{
    width:35%;
    transition-timing-function: ease;
}
.profile ul li img{
    max-width:100%;
    margin-bottom: -45px;
    box-shadow: 0 0 5px #999;
    margin-right: 10px;
}
.profile ul li h2{
    margin-bottom: 30px;
    color: #fff;
}
.profile ul li p{
    padding:10px;
    display: inline-block;
    width:200px;
    margin-bottom: 20px;
}

.text{
    margin-top: 20px;
    text-align:center;
}

li {
    color: rgba(218, 206, 206, 0.87);
    list-style: none;
}

.container {
    position: relative;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 820px;
    background: rgba(104, 102, 102, 0.014);
    box-shadow: 5px 5px 5px rgba(128, 124, 124, 0.377),
                5px 5px 5px rgba(128, 124, 124, 0.377),
                5px 5px 5px rgba(128, 124, 124, 0.377);
    border-radius: 20px;
    color: #fff;
    border-color: #fff;
         }
            @font-face {
                font-family: 'NOTO';
                src: url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap);
                font-weight: normal;
                font-style: normal;}

    .container h1 {
        font-family: 'NOTO';
        text-transform: capitalize;
        position:absolute;
        bottom: 100%;
        left:30px;
        transform: translateY(-30px);
        border-color: #fff;
    }                              

    .container .inner {
        margin: 0 auto;
        width: 100%;
        border-radius: 20px;
        margin: 10px;
        padding:  1rem;
    }

    .container .inner .innerbox{
        transition: 1s;
        cursor: pointer;
    }

    .container .inner .innerbox:hover{
        transform: scale(1.2);
    }
    .container .inner .innerbox p{
        margin-left: 10px;
    }
    .container .inner .innerbox span {
    }
    .container .inner .innerbox span:nth-child(1) {
        display: inline-block;
        width: 150px;
    }
    .container .inner .innerbox .skillbar{
        width: 95%;
        height: 30px;
        margin-top: 5px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .container .inner .innerbox .skillbar .skillbar-1{
        width: 80%;
        height: 100%;
        border: 1px solid #000;
        border-radius: 20px;
        background: linear-gradient(to right, #50586c, #dce2f0);
    }
    .container .inner .innerbox:nth-of-type(1) .skillbar .skillbar-1 {
        width: 40%;
        animation: ability 1.5s linear;
    }
    .container .inner .innerbox:nth-of-type(2) .skillbar .skillbar-1 {
        width: 40%;
        animation: ability 1.5s linear;
    }
    .container .inner .innerbox:nth-of-type(3) .skillbar .skillbar-1 {
        width: 0.1%;
        animation: ability 1.5s linear;
    }
    .container .inner .innerbox:nth-of-type(4) .skillbar .skillbar-1 {
        width: 30%;
        animation: ability 1.5s linear;
    }
    .container .inner .innerbox:nth-of-type(5) .skillbar .skillbar-1 {
        width: 0.1%;
        animation: ability 1.5s linear;
    }
    @keyframes ability{
        0%{
            width: 0;
        }
        50%{
            width: 50%;
        }
        100%{
            width: 100%;
        }
    }
   
