@charset "UTF-8";

body{
    background-color:#000;
}
.profile{
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    width: 600px;
    height: 650px;
}

.profile:hover{
    transform: translateY(-20px);
    border:120px solid;
    border: double 10px transparent;
    background-image: linear-gradient(#ffdfde,#6a7ba2);
    background-origin: border-box;  
    background-clip: content-box, border-box;
}


.profile:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffdfde, #6a7ba2);
    filter: blur(15px);

}


.profile:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(330edg, #ffdfde, #6a7ba2);
}


.profile span{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    z-index: 1;
    background-color: rgba(15, 15, 15, 0.459);
    opacity: .8;
    border-radius: 12px;
}

.profile span .desc .photo {
    top: 20px;
    left: 20px;
    width: 250px;
    height: 250px;
    line-height: 350px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile span .desc .text {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(218, 206, 206, 0.87);
}

@font-face {
    font-family: '국립박물관재단클래식L';
    src: url(https://);
    font-weight: normal;
    font-style: normal;
}

.profile span .desc .text h1 {
    font-family: '국립박물관재단클래식L';
}

.profile span .desc .photo img{
    width: 100%;
    height: 100%;
    border-radius: 3%;
    opacity: .92;
    vertical-align: middle;
    border-radius: 200px;
}
