* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}

nav {
    background-color: rgb(0, 128, 111);
    width:100%;
    height: 30px;
}
#navg{
    width:80%;
   margin-left:130px;
}
ul{
    display: inline-block;
    line-height: 30px;    
}
li{
    display: inline-block;
    vertical-align:50%;
    
}

li a{
    color:white;
    text-decoration: none;
    width:80px;
    margin: 0 10px;
    height: 30px;
    font-size: 14px;
}
.licon:hover {
    background-color: rgb(3, 206, 179);
    color:white;
}

h1{
    display:inline-block;
}
h1 a{
    line-height: 30px;
}
#logo{
    vertical-align: 35%;  
}
.icon{
    display: inline-block;
}
#search{
    width:450px;
}
form{
    display:block;
    float: right;
    margin-top:5px;
}
#banner{
    width:70%;
    height: 80px;
    overflow: hidden;
    margin: 27px auto;
    border:1px solid lightgray;
    
}
#namup{
    width:60%;
    padding:10px;
    margin: 0px 10px 0px 130px;
    background-color: white;
    border: 1px solid lightgray;
}
.menu2{
    border: 1px solid lightgray;
    height:23px;
    line-height: 20px;


}
#menubar{
    float:right;
    margin:12px 20px 0px 20px;
    height: 20px;
}
.menu2 a{
    font-size: 13px;
    color:black;
    vertical-align: middle;
}
.menu2:hover {
    background-color: rgb(209, 209, 209);
    color:black;
}
p1 a{
    text-decoration: none;
    color:rgb(3, 219, 219)
}
p1{
    display: inline-block;
    width:100%;
    border:1px solid lightgray;
    margin-top: 10px;
    font-size: 13px;
}
#recent{
    float: right;
    font-size: 12px;
    margin:0px 30px 10px 5px;
}

#txtdiv{
    font-size: 0.8em;
    text-align: center;
}

#table1{
    border: 1px solid rgb(3, 219, 190);
    border-collapse: collapse;
    font-size: 0.85em;
    width:100%
    
}
#table1 tr td:nth-child(1){
    background-color:rgb(3, 219, 190);

}
#table1 td{
    padding: 2px;
}
table a{
    text-decoration: none;
    font-size: 12px;
}
table a:hover{
    text-decoration: underline;
}
table tr:nth-child(odd) a{
    color:blue;
}
table tr:nth-child(even) a{
    color:green;
}
#table2{
    border: 1px solid gray;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid gray;  
}
#table2{
    background-color: white;
    width:18%;
    font-size: 16px;
    float:right;
    margin:20px 150px 0px 0px;
    
}
#table2 td{
    padding: 5px 2px 5px 10px;
}

#table2 td:nth-child(1){
    font-size: 13px;
    color:rgb(36, 90, 206);
}
#table2 td:nth-child(2){
    font-size: 11px;
    
}
#table2 tr:nth-child(1){
    height: 30px;
    
}
#table2 tr:nth-child(1) td:nth-child(1){
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding:15px;
}
#buttondiv{
    height: 24px;
    width:300px;
    float:right;
    padding: 0;
    margin:4px 1px 1px 1px;    
}
#buttondiv .icon{
    margin:0px;
    padding:0px;
    height: 22px;
    width:18px;
    background-color: white;
    border:1px solid lightgray;
}
#buttondiv .icon:hover{
    cursor: pointer;
}
form{
    height:20px;
    margin:0px;
}
#searchbox{
    height:22px;
    margin:0px;
    width:220px;
    border:1px solid lightgray;    
}
