* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}

nav {
    background-color: rgb(0, 128, 111);
    width:100%;
    height: 30px;
}
#navg{
    width:80%;
   margin-left:60px;
}
ul{
    display: inline-block;
    line-height: 30px;    
}
li{
    display: inline-block;
    vertical-align:50%;
    
}

li a{
    color:white;
    text-decoration: none;
    width:80px;
    margin: 0 10px;
    height: 30px;
    font-size: 14px;
}
.licon:hover {
    background-color: rgb(3, 206, 179);
    color:white;
}

h1{
    display:inline-block;
}
h1 a{
    line-height: 30px;
}
#logo{
    vertical-align: 35%;  
}
.icon{
    display: inline-block;
}
#search{
    width:450px;
}
form{
    display:block;
    float: right;
    margin-top:5px;
}
#banner{
    width:725px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    border:1px solid lightgray;
    
}
#namup{
    width:60%;
    padding:10px;
    margin: 10px 10px 0px 60px;
    background-color: white;
    border: 1px solid lightgray;
}
.menu2{
    border: 1px solid lightgray;
    height:23px;
    line-height: 20px;


}
#menubar{
    float:right;
    margin:20px;
}
.menu2 a{
    font-size: 13px;
    color:black;
    vertical-align: middle;
}
.menu2:hover {
    background-color: rgb(209, 209, 209);
    color:black;
}
p1 a{
    text-decoration: none;
    color:rgb(3, 219, 219)
}
p1{
    display: inline-block;
    width:100%;
    border:1px solid lightgray;
    margin-top: 10px;
    font-size: 13px;
}


