*{box-sizing: border-box;}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
form{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
    padding:20px;
    padding-top:45px;
    background-color: rgb(69, 223, 184);
    width: 470px;
    height: 650px;
    border-radius: 10px;

}

form input[type=button]{
    border-radius: 50px;
    border: 2px solid rgb(255, 208, 202);
    font-size: 25px;
    font-weight: bold;

}

form input[type=button]:hover{
cursor: pointer;


}

#text1 { 
    grid-column: span 3;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(255, 208, 202);
    color:white;
    font-size: 25px;
    font-weight: bold;

}

#oper{
    background-color: rgb(255, 208, 202);
    border: 1px solid white;
    color:white;
    
}
#sum1{
 grid-row: span 2;
 border-radius: 20px;
}
